body{
  background-image: url(./Images/background.svg);
  font-family: 'Oxygen', sans-serif;
}

h1{
  font-size: 64px;
}

h1,h3{
  font-weight: bold;
}


.userInput{
  border: solid 1px black;
  border-radius: 5px;
}

.icon{
  font-size: 26px;
}

.clickMe:hover{
  cursor: pointer;
}

.iconBox{
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 5px;
  border: none;
}